<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Funny Cats</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md">
                <img class="img-fluid rounded" src="catrebuild.jpg" alt="Broken Cat">
            </div>
            <div class="col-md">
                <img class="img-fluid rounded" src="liquidcat.jpg" alt="Liquid Cat">
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <img class="img-fluid rounded" src="flexiblecat.jpg" alt="Flexible Cat">
            </div>
            <div class="col-md">
                <img class="img-fluid rounded" src="baconcat.jpg" alt="Bacon Cat">
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="/catsandcars">Cats & Cars?? Oh my...</a>
    <a class="btn btn-primary float-right" href="/cars">View Some Cool Cars</a>
    <div class="container-fluid">
        <img class="footer-logo" src="favicon.ico" alt="logo"><footer>Polly Designs &trade;</footer>
    </div>
</body>
</html>