<!--The content below is only a placeholder and can be replaced.-->
<h1>
    Welcome to {{ title }}!
    <!-- to print variables, place in double {{}} as above {{ title }} -->
  </h1>
  <input type="text" [value]="title">
  <!-- to bind variable data to something like a field, surround value with square [] brackets as above [value] -->
  
  <h2>{{ title | uppercase }}</h2>
  <h3> {{ myNum | currency }}</h3>
  <!-- use the pipe to apply formatting to printed variables/data as above '| uppercase', or '| currency' -->
  <!-- USE THE JSON PIPE TO PROPERLY FORMAT OBJECTS (to display data rather than [object Object]) -->
  
  <!-- ngIf = IF statement -->
  <h1 *ngIf='myBoolean'>Show this</h1>
  <h1 *ngIf='!myBoolean'>Don't Show this</h1>
  <h1 *ngIf='1===1'>Show this</h1>
  
  <!-- ngFor = FOR statement -->
  <ul>
    <li *ngFor="let name of myArray"> {{ name }} </li>
  </ul>