.container {
    padding: 15px;
    background: #f4fff4;
    border: 1.5px solid #003300;
}
.spacer {
    margin: 0 15px;
    color: #003300;
    font-size: 1.5em;
}
h1, h2 {
    margin: 5px 10px 10px 5px;
    color: #003300;
    text-align: center;
}
a {
    color: #003300;
}
table button {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid #003300;
    box-shadow: 1px 2px 3px #252525;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;
}
.green.playing {
    background-color: #008000;
    color: white;
}
.red.not-playing {
    background-color: #b30000;
    color: white;
}
.yellow.undecided {
    background-color: yellow;
}