<div class="container-fluid">
  <h1>Edit Product</h1>
  <button (click)="onCancel()" class="btn-primary">Cancel</button>
  <div>
    <form #form='ngForm' (submit)="onSubmit()">
      <label for="brand">Brand</label>
      <input type="text" name="brand"
        required
        minlength="4"
        [(ngModel)]="shoes[0].brand"
        #brand="ngModel"
      >
      <p *ngIf="brand.invalid && (brand.dirty || brand.touched)" class="text-error">
        Please enter the brand name.
      </p>

      <label for="item">Item</label>
      <input type="text" name="item"
        required
        minlength="2"
        [(ngModel)]="shoes[0].item"
        #item="ngModel"
      >
      <p *ngIf="item.invalid && (item.dirty || item.touched)" class="text-error">
        Please enter the item name.
      </p>
    
      <label for="price">Price</label>
      <input type="number" name="price"
        required
        [(ngModel)]="shoes[0].price"
        #price="ngModel"
      >
      <p *ngIf="price.invalid && (price.dirty || price.touched)" class="text-error">
        Please enter the price for this item.
      </p>

      <label for="color">Color</label>
      <input type="text" name="color"
        required
        [(ngModel)]="shoes[0].color"
        #color="ngModel"
      >
      <p *ngIf="color.invalid && (color.dirty || color.touched)" class="text-error">
        Please enter the color of this item.
      </p>

      <label for="style">Style</label>
      <select name="style"
        required
        [(ngModel)]="shoes[0].style"
        #style="ngModel"
      >
        <option value="not_selected">Select style</option>
        <option value="boatshoes">Boat Shoes</option>
        <option value="boots">Boots</option>
        <option value="mules">Clogs & Mules</option>
        <option value="loafers">Loafers</option>
        <option value="oxfords">Oxfords</option>
        <option value="sandals">Sandals</option>
        <option value="pumps">Pumps</option>
        <option value="sneakers">Sneakers & Athletic</option>
        <option value="wedges">Wedges</option>
      </select>
      <p *ngIf="(style.invalid || style.value === 'not_selected') && (style.dirty || style.touched)" class="text-error">
        Please select the style.
      </p>

      <label for="dept">Department</label>
      <select name="dept"
        required
        [(ngModel)]="shoes[0].dept"
        #dept="ngModel"
      >
        <option value="not_selected" selected>Select department</option>       
        <option value="womens">Women's</option>
        <option value="mens">Men's</option>
        <option value="kids">Kid's</option>
      </select>
      <p *ngIf="dept.value === 'not_selected' && (dept.dirty || dept.touched)" class="text-error">
        Please select the department.
      </p>
    
      <label for="image">Image URL</label>
      <input type="text" name="image"
      [(ngModel)]="shoes[0].image"
      #image="ngModel"
      >
    
      <label for="qty">Quantity</label>
      <input type="number" name="qty"
      [(ngModel)]="shoes[0].qty"
      #qty="ngModel"
      >

      <button type="submit" *ngIf="!form.valid || (dept.value === 'not_selected' || style.value === 'not_selected')" disabled>Save</button>
      <button type="submit" *ngIf="form.valid && (dept.value !== 'not_selected' && style.value !== 'not_selected')">Save</button>
    </form>
    <div class="visual-display">
      <img *ngIf="shoes[0].image" src="{{shoes[0].image}}" alt="{{shoes[0].item}}">
      <button class="btn-primary" (click)="onDelete(shoes[0].id)">Remove Item</button>
    </div>
  </div>
</div>