.container-fluid{ /* tweak container margins/padding */
    padding: 25px;
}
form{
    width: 40%;
    margin: 20px auto;
    padding: 25px;
    display: grid;
    grid-template-columns: 150px 1fr;
    background: linear-gradient(to bottom, #000c40, #f0f2f0);
    box-shadow: 3px 3px 3px #252525;
}
input, select{
    margin: 5px 0px;
    font-style: italic;
    font-weight: bold;
    color: #000c40;
    grid-column: 2/3;
}
form label{
    text-align: left;
    grid-column: 1 / 2;
    color: #f0f2f0;
}
textarea{
    margin: 5px 0px;
    width: 200px;
    font-style: italic;
    font-weight: bold;
    color: #000c40; 
}
input[type="submit"]{
    width: 100px;
    padding: 5px;
    border: 1px solid #000c40;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #252525;
    margin-left: 100px;
}
.btn-primary{ /* customize buttons (outside of form submit) */
    background-color: buttonface;
    border-radius: 10px;
    color: #000c40;
    border-color: #000c40;
    box-shadow: 1px 2px 3px #000c40;
    margin: 0px 15px;
    font-weight: bold;
}
.response{
    color: #6e7691;
    width: 60%;
    margin: 20px auto;
    padding: 25px;
    box-shadow: 1px 2px 2px 2px #000c40;
}
footer{
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    font-style: italic;
    color: #000c40;
}
img.footer-logo{
    width: 3%;
}