<h1>Dojo Weather Forecast</h1>
<p class="navbar">
  <a class="btn" [routerLink]="['']">Wilmington, NC</a><span class="spacer">|</span>
  <a class="btn" [routerLink]="['seattle']">Seattle, WA</a><span class="spacer">|</span> 
  <a class="btn" [routerLink]="['sanjose']">San Jose, CA</a><span class="spacer">|</span> 
  <a class="btn" [routerLink]="['burbank']">Burbank, CA</a><span class="spacer">|</span> 
  <a class="btn" [routerLink]="['dallas']">Dallas, TX</a><span class="spacer">|</span> 
  <a class="btn" [routerLink]="['dc']">Washington, DC</a><span class="spacer">|</span> 
  <a class="btn" [routerLink]="['chicago']">Chicago, IL</a>
</p>
<router-outlet></router-outlet>