<div class="container-fluid">
  <h1>Add a New Product</h1>
  <a class="btn-primary" routerLink="/products">Cancel</a>
  <!-- <button (click)="onCancel()" class="btn-primary">Cancel</button> -->

  <form (submit)="create(shoe, $event)" #shoe='ngForm'>
    <button (click)="reset(shoe, $event)" class="reset">Reset</button>

    <div class="errors">
      <p *ngFor="let error of errors" class="text-error">
        {{ error }}
      </p>
    </div>

    <fieldset>
      <legend>Product Details</legend>

      <label for="upc">UPC</label>
      <input type="number" name="upc" required minlength="12" [(ngModel)]="shoe.upc" #upc="ngModel" [ngModelOptions]="{updateOn: 'blur'}">

      <p *ngIf="upc.invalid && (upc.dirty || upc.touched)" class="text-error">
        Please enter the 12-digit UPC code.
      </p>

      <label for="dept">Department</label>
      <select name="dept" required [(ngModel)]="shoe.dept" #dept="ngModel">
        <option value="not_selected" selected>Select department</option>
        <option value="womens">Women's</option>
        <option value="mens">Men's</option>
        <option value="kids">Kid's</option>
      </select>

      <p *ngIf="(dept.invalid || dept.value === 'not_selected') && (dept.dirty || dept.touched)" class="text-error">
        Please select the department.
      </p>

      <label for="brand">Brand</label>
      <input type="text" name="brand" required minlength="2" [(ngModel)]="shoe.brand" #brand="ngModel" [ngModelOptions]="{updateOn: 'blur'}">

      <p *ngIf="brand.invalid && (brand.dirty || brand.touched)" class="text-error">
        Please enter the brand name.
      </p>

      <label for="desc">Item Description</label>
      <input type="text" name="desc" required minlength="2" [(ngModel)]="shoe.desc" #desc="ngModel" [ngModelOptions]="{updateOn: 'blur'}">

      <p *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="text-error">
        Please enter the name or a brief description of the item.
      </p>

      <label for="cost">Cost</label>
      <input type="number" name="cost" required step=".01" [(ngModel)]="shoe.cost" #cost="ngModel" [ngModelOptions]="{updateOn: 'blur'}">

      <p *ngIf="cost.invalid && (cost.dirty || cost.touched)" class="text-error">
        Please enter the cost (wholesale price) for this item.
      </p>

      <label for="price">Price</label>
      <input type="number" name="price" required step=".01" [(ngModel)]="shoe.price" #price="ngModel" [ngModelOptions]="{updateOn: 'blur'}">

      <p *ngIf="price.invalid && (price.dirty || price.touched)" class="text-error">
        Please enter the selling price of this item.
      </p>

      <label for="suggestedretail">Suggested Retail Price</label>
      <input type="number" name="suggestedretail" step=".01" value="shoe.price" [(ngModel)]="shoe.suggestedretail" #suggestedretail="ngModel">

      <label for="color">Color</label>
      <input type="text" name="color" [(ngModel)]="shoe.color" #color="ngModel" [ngModelOptions]="{updateOn: 'blur'}">

      <label for="style">Style</label>
      <select name="style" [(ngModel)]="shoe.style" #style="ngModel">
        <option value="not_selected" selected>Select style</option>
        <option value="boatshoes">Boat Shoes</option>
        <option value="boots">Boots</option>
        <option value="mules">Clogs & Mules</option>
        <option value="loafers">Loafers</option>
        <option value="oxfords">Oxfords</option>
        <option value="sandals">Sandals</option>
        <option value="heels">Heels</option>
        <option value="sneakers">Sneakers & Athletic</option>
        <option value="wedges">Wedges</option>
      </select>

      <label for="size">Size</label>
      <input type="number" name="size" [(ngModel)]="shoe.size" #sie="ngModel" [ngModelOptions]="{updateOn: 'blur'}">

      <label for="qty">Quantity</label>
      <input type="number" name="qty" required min="0" [(ngModel)]="shoe.qty" #qty="ngModel" [ngModelOptions]="{updateOn: 'blur'}">

      <p *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="text-error">
        Please enter the quantity on hand for this item.
      </p>

      <label for="image">Upload Image</label>
      <input type="text" name="image" [(ngModel)]="shoe.image" #image="ngModel" [ngModelOptions]="{updateOn: 'blur'}">

    </fieldset>

    <button type="submit" *ngIf="!shoe.valid" disabled>Add Product</button>
    <button type="submit" *ngIf="shoe.valid">Add Product</button>
  </form>
</div>