<app-nav></app-nav>
<app-bike-new></app-bike-new>

<!-- *ngFor bike of bikes -->
<div class="info-card">
  <img src="/assets/bike1.jpg" alt="pic1">
  <div class="info-card-main">
    <h2>bike.title</h2>
    <p>bike.description -- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quos nam quas fuga, illo ad assumenda maiores. Minus doloremque commodi amet quisquam deleniti ullam, rem unde quaerat iure, exercitationem perspiciatis!</p>
  </div>
  <div class="info-card-sub">
    <h2>bike.price</h2>
    <p>bike.location</p>
    <button>Update</button>
    <button>Delete</button>
  </div>
</div>