<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>All About Prairie Dogs</title>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">All about Prairie Dogs</h1>
                <p class="lead">Welcome to the page where you can learn about prairie dogs and tell us about yours. Prairie Dogs are charismatic, rabbit-size rodents that live in underground burrows in North America's prairies and grasslands. They're very playful and affectionate critters, often seen kissing and nuzzling one another. They're also quite noisy as they communicate with loud cries (really more like barking).</p>
                <a href="/prairiedogs/new" class="btn btn-primary" id="btn-jumbo">Tell us about your<br>fun loving prairie dog!</a>
            </div>
        </div>
        <div class="dogs">
            <h3>View some from our fun loving collection.</h3>
            <ul>
                <!-- list will be populated by server -->
                <% if (typeof prairiedogs !== 'undefined') { %>
                    <% for (const dog of prairiedogs) { %>
                    <li>
                        <a href="/prairiedogs/<%=dog._id%>">
                            <%=dog.name %>
                        </a>
                    </li>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="container-fluid footer">
        <img class="footer-logo" src="images/favicon.ico" alt="logo"><footer>Polly Designs &trade;</footer>
    </div>
</body>
</html>