<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Cool Cars</title>
</head>
<body>
    <div class="container-fluid">
        <figure>
            <img src="68shelbygt500.jpg" alt="'68 Shelby GT Mustang">
            <figcaption>1968 Ford Mustang Shelby GT500</figcaption>
        </figure>
        <figure>
            <img src="69dodgecharger.jpg" alt="'69 Dodge Charger">
            <figcaption>1969 Dodge Charger</figcaption>
        </figure>
        <figure>
            <img src="69chevelless.jpg" alt="'69 Chevy Chevelle SS">
            <figcaption>1969 Chevy Chevelle SS</figcaption>
        </figure>
        <figure>
            <img src="70barracuda.jpg" alt="'70 Plymouth Barracuda">
            <figcaption>1970 Plymouth Barracuda</figcaption>
        </figure>
        <a class="btn btn-primary" href="cars/new">Missing your favorite car? Let us know!</a>
    </div>
</body>
</html>