<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <title>Quoting Dojo</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Welcome to Quoting Dojo</h1>
        <div class="errors">
            <%if (typeof errors !== 'undefined') { %>
                <% for (const error of errors) { %>
                    <p class="text-danger"><%= error %></p>
                <% } %>
            <% } %>
        </div>
        <form action="/quotes" method="post">
            <label for="name">Your Name:</label>
            <input type="text" name="name">
            <label for="quote">Your Quote:</label>
            <textarea name="quote" cols="20" rows="4"></textarea>
            <button class="btn btn-primary">Add my quote!</button>  <!-- add jQuery to submit form?? -->
            <a class="btn btn-primary" href="/quotes">Skip to quotes!</a>
        </form>
    </div>
    <div class="container-fluid footer">
        <img class="footer-logo" src="images/favicon.ico" alt="logo"><footer>Polly Designs &trade;</footer>
    </div>
</body>
</html>